.Maincontainer{
    align-content: center;
    
}
.Middle div{
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    background:#fff;
    border: 1px solid black;
}
.Middle{
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: 16px auto;/*Arriba derecha 
abajo izquierda*/

    display: grid;
    gap: 1.6em auto;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
}